#page_header{
    min-height: 10vh;
    background-color: blue;
}

@media only screen and (min-width: 720px) {
    #page_header{
        background-color: orange;
    }
}

@media only screen and (min-width: 1020px) {
    #page_header{
        background-color: purple;
    }
}